.main {
  width: 15rem;
}

.menuLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  height: 100vh;
  padding-bottom: 2rem;
  background-color: #f3f2ff !important;
}
