@import "index.scss";
.main {
  width: 16rem;

  @include respond(tab-port) {
    display: none;
    width: 50%;
    position: absolute;
    left: 0rem;
    z-index: 1;
  }
}

.show {
  display: block;
}

.menuLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include respond(tab-port) {
    align-items: unset;
  }
}

.card {
  height: 100vh;
  padding-bottom: 2rem;
}

.cardBody {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.closeBtn {
  display: none;
  @include respond(tab-port) {
    display: block;
  }
}
