.card {
  background-color: #f3f2ff !important;
  border: none !important;
}

.cardBody {
  padding: 1rem 0 !important;
  background-color: #f3f2ff !important;
}

.cardHeader {
  border-bottom: none !important;
}

.main {
  cursor: pointer;
  position: relative;
}

.chevron {
  position: absolute;
  top: 0.8rem;
  right: 0.5rem;
  transform: rotate(90deg);
  width: 1.2rem;
  height: 1.2rem;
}
