@import "index.scss";

.main {
  width: 98%;
  margin-top: 1.8rem;
  box-shadow: 0 0.4rem 2rem 0 rgba(0, 0, 0, 0.05);
}

.card-body {
  padding: 0 !important;
  display: flex;
  align-items: center;
}

.card {
  height: 4rem;
  padding: 0;
  display: flex;
}

.menuBtn {
  margin-left: 0.5rem;
  width: fit-content;
  height: fit-content;
  cursor: pointer;

  display: none;

  @include respond(tab-port) {
    display: block;
  }
}
