.main {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.img {
  width: 100%;
  height: 100%;
  border: 2px solid rgba(115, 103, 240, 0.9);
}

.sm {
  width: 3rem;
  height: 3rem;
}

.md {
  width: 6rem;
  height: 6rem;
}

.lg {
  width: 9rem;
  height: 9rem;
}
